<div class="edu-section cs-detailed">
  <!-- Intro Section -->
  <section class="cs-hero">
    <div class="cs-hero-left">
      <h2>KNOW YOUR DIAMOND</h2>
      <ul>
        <li>What Gives A Diamond Its Lustre?</li>
        <li>How Many Different Shapes & Sizes Are There?</li>
        <li>How Are Diamonds Graded And Certified?</li>
        <li>What Factors Influence Diamond Buying Behaviour?</li>
      </ul>
    </div>
    <div class="cs-hero-right">
      <h2>
        Find The Answers To All Your Questions,<br />
        With The Diamond 5Cs Explained Below
      </h2>
    </div>
  </section>

  <!-- Anatomy Section -->
  <section class="cs-anatomy">
    <div class="anatomy-img">
      <!-- Replace with your image -->
      <img
        src="/static/images/diamond-anatomy.webp"
        alt="Anatomy of a Diamond"
      />
    </div>
    <div class="anatomy-text">
      <h3>Anatomy of a Diamond</h3>
      <p>
        The design and craftsmanship of the diamond considers weight ratio
        (weight of the diamond relative to its diameter), the diamond's girdle
        thickness (which affects its durability), the symmetry of its facet
        arrangement, and the quality of polish on those facets. Cut is
        oftentimes confused with the shape of the diamond but cut refers to a
        stone’s facet arrangement. Shape refers to the outline of the stone. The
        most common diamond shape used in jewelry is round, as seen in the
        standard round brilliant cut. All other diamond shapes are known as
        fancy shapes. Traditional fancy shapes include the marquise, pear, oval
        and octagonal (as seen in the emerald cut). Square, cushion (square with
        rounded edges), triangle, and a variety of other shapes are also gaining
        popularity in diamond jewelry.
      </p>
    </div>
  </section>

  <!-- 5Cs Deep Dive -->
  <section class="cs-details">
    <h3>Understanding the 5Cs of Diamonds</h3>

    <div class="cs-block">
      <h3>CARAT</h3>
      <p>
        HIGHER THE CARAT, MORE THE WEIGHT OF THE DIAMOND. The special unit of
        measurement used to weigh diamonds is called 'carat'. Sometimes confused
        with the visual size of stones, carat refers to weight only. 1 carat is
        0.2 grams or 1/142 of an ounce. When considering the five Cs that
        determine the value of diamonds, carat weight can be most accurately and
        easily calculated by using a delicately balanced scale capable of
        weighing extremely small stones. There is one significant fact about a
        diamond's weight and price. When diamonds are mined, large diamonds are
        discovered rarely in comparison to small ones, which makes large
        diamonds much more superior. For that reason, the price of a diamond
        rises exponentially with its size. So, a 2 carat diamond of a given
        quality is always worth much more than two 1 carat diamonds of the same
        quality. Simply put, the larger a diamond, the more valuable and rarer
        it is.
      </p>
    </div>

    <div class="cs-block">
      <h3>COLOR</h3>

      <p>
        WITH REGARD TO DIAMONDS, COLORLESS ADDS MORE VALUE Though color is a
        defining factor, what actually matters is how 'colorless' a diamond is.
        The more colorless or white a diamond is, the more valuable it becomes.
        On moving down the scale, diamonds start to have slight tints of yellow
        in them which decrease their value. The Gemological Institute of America
        (GIA) grades diamonds from D (colorless) to Z (light yellow). The yellow
        tint in diamonds affects their dazzle and brilliance. A colorless stone
        lets greater amounts of light pass through it, making it sparkle and
        shine. The perception of a diamond's color differs across individuals.
        Most of us may not even notice the yellow in slightly tinted diamonds
        because the nuances of color are so slight. It is hence more important
        to look at the cut and shape when choosing a diamond, while Colorless
        and Near Colorless can be the ideal color choices. Diamonds tend to pull
        in color from their surroundings, especially the color of the ring or
        piece of jewellery on which they are mounted. This can sometimes render
        the “colorless” property of a diamond insignificant; a “near colorless”
        or “light tint” diamond pairs better with a yellow or rose gold
        mounting. The colorless stone here isn't the best investment, as it
        would anyway pull in the warmth of the yellow gold.
      </p>
      <div class="grading-scale">
        <img
          src="/static/images/color-grade-scale.jpeg"
          alt="Diamond Color Grading"
        />
      </div>
    </div>

    <div class="cs-block">
      <h3>CLARITY</h3>
      <p>
        THERE’S CLEAR, THERE’S CRYSTAL CLEAR. THEN THERE ARE DIAMONDS. The term
        'clarity' is used in reference to a diamond's purity, and is based on
        how many or how few inclusions there are in the stone as well as where
        these inclusions occur. Minuscule flaws can be trapped on or within a
        diamond when it is formed. Gemologists will examine these surface and
        internal flaws under 10x magnification when assigning a grading to each
        stone. Diamonds with little or no inclusions, graded FL (Flawless) and
        IF (Internally Flawless) are especially rare and valuable. The grades
        VVS1, VVS2 (Very Very Slight Inclusions), VS1, VS2 (Very Slight
        Inclusions) and SI1 (Slight Inclusions) are all worthwhile as they have
        inclusions not visible to the naked eye.
      </p>
      <div class="clarity-scale">
        <img
          src="/static/images/clarity-grade-scale.png"
          alt="Diamond Clarity Grading"
        />
      </div>
    </div>

    <div class="cs-block">
      <h3>CUT</h3>
      <p>
        DIAMONDS THAT MAKE THE CUT, DAZZLE THE MOST. Cut has the biggest impact
        on the beauty of diamonds. The cut of a diamond does not just mean its
        shape, but also indicates the symmetry, polishing, angles and the
        proportions of each physical aspect of the diamond. A well-cut diamond
        reflects light perfectly to maximize the stone's brilliance. The light
        entering a diamond should reflect off all the facets and come straight
        back up, thus giving it a scintillating appearance. The depth of a
        diamond is of great importance; ideal depth is achieved when a diamond
        is cut neither too deep nor too shallow, as that causes light to be lost
        through the diamond instead of getting reflected back up. Diamond Cut
        Grade Chart Ideal cut : Ideal cut in a diamond implies ideal proportions
        and angles, wherein the diamond has the best polish and symmetry
        ratings. Excellent cut : Excellent cuts are considered top-grade cuts
        and will reflect almost all of the light that enters a diamond, creating
        unmatched brilliance and dispersion. Very good cut : Almost as good as
        Excellent cuts but with minimal loss of refracted light, these cuts
        provide amazing brilliance. Good cut : Good Cut diamonds reflect most of
        the light that passes through them, though not as much as Excellent or
        Very good cuts. These diamonds provide beauty at a lower price point.
        Fair cut : These offer little brilliance. Fair Cut diamonds may be a
        reasonable choice for smaller carats and those acting as side stones.
        Poor cut : Most of the light entering the diamond gets lost from the
        diamond’s sides/bottom, causing it to appear dark and lifeless.
      </p>
      <div class="cut-scale">
        <img
          src="/static/images/cut-grade-scale.jpeg"
          alt="Diamond Cut Grading"
        />
      </div>
    </div>

    <div class="cs-block">
      <h3>COST</h3>
      <p>
        Potential diamond buyers might wonder what makes diamonds so expensive,
        how are costs decided, why two diamonds with the same grades are priced
        differently, etc. Buying their dream solitaire can be a once in a
        lifetime accomplishment for most people, so it is important to have the
        right answers to these questions. The costs of natural or mined diamonds
        are generally controlled by the miners as they extract and own the rough
        diamond resources. The emergence of lab-grown diamonds in the
        mid-twentieth century revolutionized the diamond industry in terms of
        cost. Lab-grown diamonds cost significantly less than their mined
        counterparts due to the elimination of monopolistic trade practices.
        Hence, lab-made diamonds are much more affordable with the same amount
        of beauty and durability as mined diamonds. Diamonds can be expensive,
        and justifiably so, as they are designed to stand the test of time.
        Fortunately, finding the perfect diamond that matches one's requirements
        and at the right price is absolutely possible! It just takes a little
        bit of effort, and the chances of finding a good deal online are many.
        Moreover, diamond experts are of immense help in solving queries and
        providing useful recommendations to assist buyers in getting the perfect
        diamond within their budget.
      </p>
    </div>
  </section>

  <!-- CTA Section -->
  <section class="cs-cta">
    <div class="cta-item">
      <h4>Your concern is ours too!</h4>
      <p>Get help from diamond experts</p>
      <a href="/contact" class="btn-primary">Let’s Connect</a>
    </div>
    <div class="cta-item">
      <h4>Take a step closer.</h4>
      <p>Your dream diamond awaits you!</p>
      <a href="/shop" class="btn-primary">Start Here</a>
    </div>
  </section>
</div>
